<template>
  <div class="about">
    <h1>Search</h1>
    <div>
      <search-property-form v-on:submitForm="submitedForm($event)"/>
    </div>
    <div class="">
      <table id="properties">
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Bedrooms</th>
          <th>Bathrooms</th>
          <th>Storeys</th>
          <th>Garages</th>
        </tr>

        <tr v-if="result.length === 0">
          <td colspan="6">No result</td>
        </tr>

        <tr v-for="item in result" :key="item.id">
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.bedrooms }}</td>
          <td>{{ item.bathrooms }}</td>
          <td>{{ item.storeys }}</td>
          <td>{{ item.garages }}</td>
        </tr>
      </table>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import SearchPropertyForm from './SearchPropertyForm'

export default {
  name: 'SearchProperty',
  components: {
    SearchPropertyForm
  },
  data () {
    return {
      result: {},
      formData: {},
      queryString: ''
    }
  },
  created () {
    this.fetchData()
  },
  methods: {
    submitedForm(data){
      this.formData = data;
      this.applyFilter();
      this.fetchData();
      this.resetqueryString();
    },
    resetqueryString() {
      this.queryString = '';
    },
    applyFilter () {
      let queryString = [];
      for (var field in this.formData) {
        if (!this.formData.hasOwnProperty(field) || this.formData[field] == '')
          continue;

        let key = (field == 'min_price' || field == 'max_price') ? 'price[]' : field;
        queryString.push(encodeURIComponent(key) + "=" + encodeURIComponent(this.formData[field]));
      }

      if (queryString.length > 0) {
        this.queryString = `?${queryString.join("&")}`;
      }
    },
    fetchData () {
      // move to .env
      axios.get(`http://127.0.0.1:8000/api/property${this.queryString}`)
        .then((resp) => {
          this.result = resp.data.data;
          console.log(this.result)
        })
        .catch((error) => {
          console.log(error)
        })
    }
  }
}
</script>

<style>
#properties {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#properties td, #properties th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#properties tr:nth-child(even){background-color: #f2f2f2;}

#properties tr:hover {background-color: #ddd;}

#properties th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}
</style>
