<template>
  <div class="panel-body">
    <vue-form-generator :schema="schema" :model="model" :options="formOptions"></vue-form-generator>
    <button type="button" name="button" v-on:click="submitForm()">Search</button>
  </div>
</template>

<script>
import Vue from 'vue'
import VueFormGenerator from 'vue-form-generator'
import 'vue-form-generator/dist/vfg.css'

Vue.use(VueFormGenerator)

export default {
  data () {
    return {
      model: {
        name: '',
        min_price: 0,
        max_price: 0,
        bedrooms: '',
        bathrooms: '',
        storeys: '',
        garages: ''
      },
      schema: {
        fields: [
          {
            type: 'input',
            inputType: 'text',
            label: 'Property name',
            model: 'name',
            placeholder: 'Property name',
          },
          {
            type: 'input',
            inputType: 'text',
            label: 'Property min price',
            model: 'min_price',
            placeholder: 'Property min price',
            //validator: VueFormGenerator.validators.string
          },
          {
            type: 'input',
            inputType: 'text',
            label: 'Property max price',
            model: 'max_price',
            placeholder: 'Property max price',
            //validator: VueFormGenerator.validators.string
          },
          {
            type: 'input',
            inputType: 'text',
            label: 'Bedrooms count',
            model: 'bedrooms',
            placeholder: 'Bedrooms count',
          },
          {
            type: 'input',
            inputType: 'text',
            label: 'Bathrooms count',
            model: 'bathrooms',
            placeholder: 'Bathrooms count',
          },
          {
            type: 'input',
            inputType: 'text',
            label: 'Storeys',
            model: 'storeys',
            placeholder: 'Storeys',
          },
          {
            type: 'input',
            inputType: 'text',
            label: 'Garages',
            model: 'garages',
            placeholder: 'Garages',
          }
        ]
      },
      formOptions: {
        // validateAfterLoad: true,
        // validateAfterChanged: true,
        // validateAsync: true
      }
    }
  },
  methods: {
    submitForm(){
        this.$emit('submitForm', this.prepareFormData());
    },
    prepareFormData(){
        return this.model;
    }
  },
}
</script>

<style media="screen">
html {
font-family: Tahoma;
font-size: 14px;
}

body {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333;
}

pre {
overflow: auto;
}
pre .string { color: #885800; }
pre .number { color: blue; }
pre .boolean { color: magenta; }
pre .null { color: red; }
pre .key { color: green; }

h1 {
text-align: center;
font-size: 36px;
margin-top: 20px;
margin-bottom: 10px;
font-weight: 500;
}

fieldset {
border: 0;
}

.panel {
margin-bottom: 20px;
background-color: #fff;
border: 1px solid transparent;
border-radius: 4px;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
border-color: #ddd;
}

.panel-heading {
color: #333;
background-color: #f5f5f5;
border-color: #ddd;

padding: 10px 15px;
border-bottom: 1px solid transparent;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
}

.panel-body {
padding: 15px;
}

.field-checklist .wrapper {
width: 100%;
}
</style>
